{% extends 'base.html.twig' %}
{% block title %}
  {{ (mode == 'new') ? 'New Prerequisite' : 'Edit Prerequisite' }}
{% endblock %}

{% block stylesheet %}
<style>

</style>
{% endblock %}

{% block body %}
  <div class="container taright">
    <form class="form fright" method="post">
      <h1 class="welcomeText tacenter">{{ (mode == 'new') ? 'New Prerequisite' : 'Edit Prerequisite' }}</h1>
      <h2>{{ result_message is defined ? result_message : '' }}</h2>

      <label for="form[course_module_type]">Course or Module?</label>
      <select name="form[course_module_type]" id="courseModuleType">
        <option value="course" {{ (form.courseModuleType is defined and form.courseModuleType == 'course') ? 'selected' : '' }}>Course</option>
        <option value="module" {{ (form.courseModuleType is defined and form.courseModuleType == 'module') ? 'selected' : '' }}>Module</option>
      </select>

      <label for="form[course_module_id]">Course/Module Name</label>
      <select name="form[course_module_id]" id="modules1">
        <option value="">No Value</option>
        <optgroup label="Modules">
          {% for module in modules %}
            <option value="{{ module.id }}" {{ (form.courseModuleId is defined and form.courseModuleId == module.id) ? 'selected' : '' }}>{{ module.moduleName }}</option>
          {% endfor %}
        </optgroup>
      </select>

      <select name="form[course_module_id]" id="courses1">
        <option value="">No Value</option>
        <optgroup label="Courses">
          {% for course in courses %}
            <option value="{{ course.id }}" {{ (form.courseModuleId is defined and form.courseModuleId == course.id) ? 'selected' : '' }}>{{ course.courseName }}</option>
          {% endfor %}
        </optgroup>
      </select>

      <label for="form[prerequisite_type]">Prerequisite Type</label>
      <select name="form[prerequisite_type]" id="prerequisiteType">
        <option value="course" {{ (form.prerequisiteType is defined and form.prerequisiteType == 'course') ? 'selected' : '' }}>Course</option>
        <option value="module" {{ (form.prerequisiteType is defined and form.prerequisiteType == 'module') ? 'selected' : '' }}>Module</option>
      </select>

      <label for="form[prerequisite_id]">Prerequisite</label>
      <select name="form[prerequisite_id]" id="modules2">
        <option value="">No Value</option>
        <optgroup label="Modules">
          {% for module in modules %}
            <option value="{{ module.id }}" {{ (form.prerequisiteId is defined and form.prerequisiteId == module.id) ? 'selected' : '' }}>{{ module.moduleName }}</option>
          {% endfor %}
        </optgroup>
      </select>

      <select name="form[prerequisite_id]" id="courses2">
        <option value="">No Value</option>
        <optgroup label="Courses" id="courses2">
          {% for course in courses %}
            <option value="{{ course.id }}" {{ (form.prerequisiteId is defined and form.prerequisiteId == course.id) ? 'selected' : '' }}>{{ course.courseName }}</option>
          {% endfor %}
        </optgroup>
      </select>

      <button>{{ (mode == 'new') ? 'Create Prerequisite' : 'Save Changes' }}</button>
    </form>

    <hr class="clear" width="0" />
  </div>
{% endblock %}

{% block javascript %}
  <script type="text/javascript">
    function TypeDiff(whch, num) {
      var courseModulePrerequisiteType = $('#' + whch).val();
      if (courseModulePrerequisiteType == 'course') {
        $('#modules' + num).hide();
        $('#modules' + num).val('');
      } else {
        $('#courses' + num).hide();
        $('#courses' + num).val('');
      }
      $('#' + courseModulePrerequisiteType + 's' + num).show();
    }

    $(document).ready(function(){
      TypeDiff('courseModuleType', '1');
      TypeDiff('prerequisiteType', '2');

      $('#courseModuleType').on("change", function() {
        TypeDiff('courseModuleType', '1');
      });

      $('#prerequisiteType').on("change", function() {
        TypeDiff('prerequisiteType', '2');
      });
    });
  </script>
{% endblock %}
