{% extends 'base.html.twig' %}
{% block title %}
  Prerequisite View
{% endblock %}

{% block stylesheet %}
<style>

</style>
{% endblock %}

{% block body %}
  <div class="container" id="view_container">
    <a href="{{ path('prerequisite_create') }}">New Prerequisite</a>
    <table border="0">
      <thead>
        <tr>
          <th>Course/Module</th>
          <th>Prerequisited Course/Module</th>
          <th colspan="3">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for prerequisite in prerequisites %}
          <tr>
            <td>
              ({{ prerequisite.courseModuleType | capitalize }}) -
              {% if (prerequisite.courseModuleType == 'course') %}
                <a href="{{ path('course_view_one', {'course_id': prerequisite.courseId.id}) }}" id="moreDetBtn">{{ prerequisite.courseId.courseName }}</a>
              {% elseif (prerequisite.courseModuleType == 'module') %}
                <a href="{{ path('module_view_one', {'module_id': prerequisite.moduleId.id}) }}" id="moreDetBtn">{{ prerequisite.moduleId.moduleName }}</a>
              {% endif %}
            </td>

            <td>
              ({{ prerequisite.prerequisiteType | capitalize }}) -

              {% if (prerequisite.prerequisiteType == 'course') %}
                <a href="{{ path('course_view_one', {'course_id': prerequisite.prerequisiteCourseId.id}) }}" id="moreDetBtn">{{ prerequisite.prerequisiteCourseId.courseName }}</a>
              {% elseif (prerequisite.prerequisiteType == 'module') %}
                <a href="{{ path('module_view_one', {'module_id': prerequisite.prerequisiteModuleId.id}) }}" id="moreDetBtn">{{ prerequisite.prerequisiteModuleId.moduleName }}</a>
              {% endif %}
            </td>

            {% if(app.session.get('user_type') == 'admin') %}
              <td id="actions"><a href="{{ path('prerequisite_edit', {'prerequisite_id': prerequisite.id}) }}" id="editBtn">edit</button></td>
              <td id="actions"><a href="{{ path('prerequisite_delete', {'prerequisite_id': prerequisite.id}) }}" id="deleteBtn"
                    onclick="return confirm('Are You Sure You Want To Delete ?') ">delete</button></td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
