<!DOCTYPE html>
<html lang="en">
<html lang="am">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}St. Paul's Hospital Mellinium Medical College{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/stylesheet.css') }}">
    <link rel="stylesheet" href="{{ asset('css/fontawesome/fontawesome.min.css') }}">
    {% block stylesheet %}{% endblock %}
    <link rel="shortcut icon" href="{{ asset('favicon.png') }}" />
  </head>

  <body>

    <header class="clear">
      <div>
        <img alt="St. Paul's Hospital" src="{{ asset('images/main_logo.png') }}" draggable="false" />
      </div>

      <table>
        <tr valign="middle">
          <td><a href=" {{ path('default_home') }} ">HOME</a></td>

          {% if app.session.get('user_name') %}
            {% if app.session.get('user_type') == 'admin' %}
              {% set user_type_dis = app.session.get('admin_class') %}
            {% else %}
              {% set user_type_dis = app.session.get('user_type') %}
            {% endif %}
            
            <td><a href="{{ path('account_settings') }}">{{ app.session.get('user_name') | upper ~ ' (' ~ user_type_dis | capitalize ~')' }}</a></td>
            <td><a id="dashboard">DASHBOARD</a></td>
            <td><a href=" {{ path('user_signout') }} "
                onclick="return confirm('Are You Sure You Want To Sign Out?') ">SIGN OUT</a></td>
          {% else %}
            <td><a href=" {{ path('user_signin') }} ">SIGN IN</a></td>
          {% endif %}
        </tr>
      </table>
    </header>

    {% if app.session.get('user_name') %}
      <div id="sideMenu" class="hidden">
        <span class="btn-close" id="closeSideMenuBtn">&times;</span>

        <h1></h1>

        <div id="links">
          {% if (app.session.get('user_type') == 'admin') %}
            <a href="{{ path('admin_view') }}">Admins</a>
            <a href="{{ path('school_view') }}">Schools</a>
            <a href="{{ path('curriculum_view') }}">Curriculums</a>
            <a href="{{ path('department_view') }}">Departments</a>
            <a href="{{ path('teacher_view') }}">Teachers</a>
            <a href="{{ path('semester_view') }}">Semesters</a>
            <a href="{{ path('module_view') }}">Modules</a>
            <a href="{{ path('course_view') }}">Courses</a>
            <a href="{{ path('grade_system_view') }}">Grade Systems</a>
            <a href="{{ path('prerequisite_view') }}">Prerequisites</a>
            <a href="{{ path('batch_view') }}">Batches</a>
            <a href="{{ path('section_view') }}">Sections</a>
            <a href="{{ path('student_view') }}">Students</a>
            <a href="{{ path('session_view') }}">School Sessions</a>
            <a href="{{ path('assessment_type_system_view') }}">Assessment Types</a>

          {% elseif (app.session.get('user_type') == 'teacher') %}
            <a href="{{ path('module_view') }}">My Modules</a>
            <a href="{{ path('course_view') }}">My Courses</a>
            <a href="{{ path('session_view') }}">My School Sessions</a>

          {% elseif (app.session.get('user_type') == 'student') %}
            <a href="{{ path('module_view') }}">My Modules</a>
            <a href="{{ path('course_view') }}">My Courses</a>
            <a href="{{ path('session_view') }}">My School Sessions</a>
            <a href="{{ path('student_results') }}">My Results</a>
          {% endif %}
        </div>
      </div>
    {% endif %}
    <span></span>

    <div id="container_wrapper">

      {% block body %}{% endblock %}

    </div>

    <footer class="clear">
      <div>
        &copy; St. Paul's Hospital Mellenium Medical College
      </div>
    </footer>

    <script type="text/javascript" src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/javascript.js') }}"></script>
    {% block javascripts %}
    {% endblock %}

    {% block javascript %}{% endblock %}

    <script type="text/javascript">
      function DashboardFunction(shide){
        if(shide == 'show'){
          $('#openSideMenuBtn').addClass('hidden');
          $('#sideMenu').removeClass('hidden');
          $('#container_wrapper').addClass('container_wrapper_dbo');
        } else if (shide == 'hide') {
          $('#openSideMenuBtn').removeClass('hidden');
          $('#sideMenu').addClass('hidden');
          $('#container_wrapper').removeClass('container_wrapper_dbo');
        }
      }

      function getAjaxOperation(){
        $.ajax({
          url: '/dashboard/visibility/show/get',
          type: "POST",
          dataType: "json",
          async: true,
          success: function (data)
          {
            data;
          }
        });
      }

      function setAjaxOperation(shide){
        $.ajax({
          url: '/dashboard/visibility/' + shide + '/set',
          type: "POST",
          dataType: "json",
          async: true,
          success: function (data)
          {
            var resu =  data;
          }
        });
        return resu;
      }

      $(document).ready(function(){
        $.ajax({
          url: '/dashboard/visibility/show/get',
          type: "POST",
          dataType: "json",
          async: true,
          success: function (shide_bgn)
          {
            DashboardFunction(shide_bgn);
          }
        });
      });

      $('#closeSideMenuBtn').click(function() {
        DashboardFunction('hide');
        setAjaxOperation('hide');
      });

      $('#dashboard').click(function() {
        $.ajax({
          url: '/dashboard/visibility/show/get',
          type: "POST",
          dataType: "json",
          async: true,
          success: function (shide)
          {
            if (shide === 'hide'){
              DashboardFunction('show');
              setAjaxOperation('show');
            } else if (shide === 'show'){
              DashboardFunction('hide');
              setAjaxOperation('hide');
            }
          }
        });
      });
    </script>

  </body>
</html>
</html>
