<!DOCTYPE html>
<html lang="en">
<html lang="am">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}St. Paul's Hospital Mellinium Medical College{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    {% block stylesheets %}
      <link rel="stylesheet" href="{{ asset('css/stylesheet.css') }}">
    {% endblock %}
    {% block stylesheet %}{% endblock %}
    <link rel="shortcut icon" href="{{ asset('favicon.png') }}" />
  </head>

  <body>

    <header class="clear" id="#home">
      <div>
        <img alt="St. Paul's Hospital" src="{{ asset('images/main_logo.png') }}" draggable="false" />
      </div>

      <table border="0">
        <tr valign="middle">
          <td><a href=" {{ path('default_home') }} ">home</a></td>

          {% if(app.session.get('user_name') and app.session.get('user_type')) %}
            <td><a href="{{ path('account_settings', {'user_id': app.session.get('user_id_lit')} ) }}">profile</a></td>
            <td><a href=" {{ path('dashboard') }} ">dashboard</a></td>
            <td><a href=" {{ path('user_signout') }} "
                onclick="return confirm('Are You Sure You Want To Sign Out?') ">sign out</a></td>
          {% else %}
            <td><a href=" {{ path('user_signin') }} ">sign in</a></td>
          {% endif %}
        </tr>
      </table>
    </header>

    {% block body %}{% endblock %}

    <footer>
      <div>
        &copy; St. Paul's Hospital Mellenium Medical College
      </div>
    </footer>

    {% block javascripts %}
      <script type="text/javascript" src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
      <script type="text/javascript" src="{{ asset('js/javascript.js') }}"></script>
    {% endblock %}

    {% block javascript %}{% endblock %}

  </body>
</html>
</html>
