{% extends 'base.html.twig' %}
{% block title %}
  {{ (mode == 'new') ? 'New Student' : 'Edit Student' }}
{% endblock %}

{% block stylesheet %}
<style>
.form input {
  width: 500px;
}

.form select {
  width: 525px;
}

.form button {
  width: 150px;
  float: right;
}
</style>
{% endblock %}

{% block body %}
  <div class="container taright">
    <form class="" method="post">
      <div class="form fright">
        <h1 class="welcomeText tacenter">{{ (mode == 'new') ? 'New Student' : 'Edit Student' }}</h1>
        <h2>{{ result_message is defined ? result_message : '' }}</h2>

        <label for="form[admission_number]">Admission Number</label>
        <input type="text" name="form[admission_number]" placeholder="" value="{{ form.admission_number is defined ? form.admission_number : '' }}" required />

        <label for="form[first_name_en]">First Name</label>
        <input type="text" name="form[first_name_en]" placeholder="" value="{{ form.first_name_en is defined ? form.first_name_en : '' }}" required />

        <label for="form[middle_name_en]">Middle Name</label>
        <input type="text" name="form[middle_name_en]" placeholder="" value="{{ form.middle_name_en is defined ? form.middle_name_en : '' }}" required />

        <label for="form[last_name_en]">Last Name</label>
        <input type="text" name="form[last_name_en]" placeholder="" value="{{ form.last_name_en is defined ? form.last_name_en : '' }}" required />

        <label for="form[first_name_am]">የመጀመሪያ ስም</label>
        <input type="text" name="form[first_name_am]" placeholder="" value="{{ form.first_name_am is defined ? form.first_name_am : '' }}" required />

        <label for="form[middle_name_am]">የአባት ስም</label>
        <input type="text" name="form[middle_name_am]" placeholder="" value="{{ form.middle_name_am is defined ? form.middle_name_am : '' }}" required />

        <label for="form[last_name_am]">የአያት ሥም</label>
        <input type="text" name="form[last_name_am]" placeholder="" value="{{ form.last_name_am is defined ? form.last_name_am : '' }}" required />

        <label for="form[section_id]">Student Section</label>
        <select name="form[section_id]">
          {% for section in sections %}
            <option value="{{ section.id }}" {{ (form.section_id is defined and form.section_id == section) ? 'selected' : '' }} >{{ section.sectionName }}</option>
          {% endfor %}
        </select>

        {% if(mode == 'new') %}
          <label for="form[user_name]">User Name</label>
          <input type="text" name="form[user_name]" placeholder="user_12" value="{{ form.user_name is defined ? form.user_name : '' }}" required />

          <label for="form[password]">Password</label>
          <input type="password" name="form[password]" placeholder="A minimum of 6 characters" required />

          <label for="form[confirm_password]">Confirm Password</label>
          <input type="password" name="form[confirm_password]" placeholder="A minimum of 6 characters" required />
        {% else %}
          <label for="form[student_start_year]">Student Starting Year</label>
          <input type="number" name="form[student_start_year]" placeholder="Enter Year In Number" value="{{ form.student_start_year is defined ? form.student_start_year : '' }}" required />

          <label for="form[student_end_year]">Student Ending Year</label>
          <input type="number" name="form[student_end_year]" placeholder="Enter Year In Number" value="{{ form.student_end_year is defined ? form.student_end_year : '' }}" required />
        {% endif %}

        <button>{{ (mode == 'new') ? 'Register Student' : 'Save Changes' }}</button>
      </div>
    </form>

    <hr class="clear" width="0" />
  </div>
{% endblock %}

{% block javascript %}
  <script type="text/javascript">

  </script>
{% endblock %}
