{% extends 'base.html.twig' %}
{% block title %}
  {{ (mode == 'new') ? 'New Student' : 'Edit Student' }}
{% endblock %}

{% block stylesheet %}
<style>
.form input {
  width: 500px;
}

.form select {
  width: 525px;
}

.form button {
  width: 150px;
  float: right;
}
</style>
{% endblock %}

{% block body %}
  <div class="container taright">
    <form class="" method="post">
      <div class="form fright" id="form1">
        <h1 class="welcomeText tacenter">{{ (mode == 'new') ? 'New Student' : 'Edit Student' }}</h1>
        <h3 class="welcomeText2 tacenter">(1/4) Personal Information</h3>
        <h2>{{ result_message is defined ? result_message : '' }}</h2>

        <label for="form[first_name_en]">First Name</label>
        <input type="text" name="form[first_name_en]" placeholder="" value="{{ form.first_name_en is defined ? form.first_name_en : '' }}" required />

        <label for="form[middle_name_en]">Middle Name</label>
        <input type="text" name="form[middle_name_en]" placeholder="" value="{{ form.middle_name_en is defined ? form.middle_name_en : '' }}" required />

        <label for="form[last_name_en]">Last Name</label>
        <input type="text" name="form[last_name_en]" placeholder="" value="{{ form.last_name_en is defined ? form.last_name_en : '' }}" required />

        <label for="form[first_name_am]">የመጀመሪያ ስም</label>
        <input type="text" name="form[first_name_am]" placeholder="" value="{{ form.first_name_am is defined ? form.first_name_am : '' }}" required />

        <label for="form[middle_name_am]">የአባት ስም</label>
        <input type="text" name="form[middle_name_am]" placeholder="" value="{{ form.middle_name_am is defined ? form.middle_name_am : '' }}" required />

        <label for="form[last_name_am]">የአያት ሥም</label>
        <input type="text" name="form[last_name_am]" placeholder="" value="{{ form.last_name_am is defined ? form.last_name_am : '' }}" required />

        <label for="form[sex]">Sex</label>
        <select name="form[sex]">
          <option value="male" {{ (form.sex is defined and form.sex == 'male') ? 'selected' : '' }}>Male</option>
          <option value="female" {{ (form.sex is defined and form.sex == 'female') ? 'selected' : '' }}>Female</option>
        </select>

        <label for="form[nationality]">Nationality: </label>
        <input type="text" name="form[nationality]" placeholder="" value="{{ form.nationality is defined ? form.nationality : '' }}" required />

        <label>Place of Birth</label>
        <hr />
          <label for="form[place_of_birth_town]">Town</label>
          <input type="text" name="form[place_of_birth_town]" placeholder="" value="{{ form.place_of_birth_town is defined ? form.place_of_birth_town : '' }}" required />

          <label for="form[place_of_birth_region]">Region</label>
          <input type="text" name="form[place_of_birth_region]" placeholder="" value="{{ form.place_of_birth_region is defined ? form.place_of_birth_region : '' }}" required />

          <label for="form[date_of_birth_gc]">Date of Birth (GC)</label>
          <input type="date" name="form[date_of_birth_gc]" value="{{ form.date_of_birth_gc is defined ? form.date_of_birth_gc : '' }}" required />

          <label for="form[date_of_birth_ec]">Date of Birth (EC)</label>
          <input type="date" name="form[date_of_birth_ec]" value="{{ form.date_of_birth_ec is defined ? form.date_of_birth_ec : '' }}" required />
        <hr />
        <label>Residence Address</label>
        <hr />
          <label for="form[house_number]">House Number</label>
          <input type="text" name="form[house_number]" placeholder="" value="{{ form.house_number is defined ? form.house_number : '' }}" required />

          <label for="form[kebele]">Kebele</label>
          <input type="number" name="form[kebele]" placeholder="" value="{{ form.kebele is defined ? form.kebele : '' }}" required />

          <label for="form[woreda_subcity]">Woreda/Subcity</label>
          <input type="text" name="form[woreda_subcity]" placeholder="" value="{{ form.woreda_subcity is defined ? form.woreda_subcity : '' }}" required />

          <label for="form[town]">Town</label>
          <input type="text" name="form[town]" placeholder="" value="{{ form.town is defined ? form.town : '' }}" required />

          <label for="form[zone]">Zone</label>
          <input type="text" name="form[zone]" placeholder="" value="{{ form.zone is defined ? form.zone : '' }}" required />

          <label for="form[region]">Region</label>
          <input type="text" name="form[region]" placeholder="" value="{{ form.region is defined ? form.region : '' }}" required />

          <label for="form[po_box]">P.O. Box</label>
          <input type="text" name="form[po_box]" placeholder="" value="{{ form.po_box is defined ? form.po_box : '' }}" required />
        <hr />

        <label>Telephone</label>
        <hr />
          <label for="form[telephone_home]">Home Number</label>
          <input type="tel" name="form[telephone_home]" placeholder="" value="{{ form.telephone_home is defined ? form.telephone_home : '' }}" required />

          <label for="form[telephone_mobile]">Mobile Number</label>
          <input type="tel" name="form[telephone_mobile]" placeholder="" value="{{ form.telephone_mobile is defined ? form.telephone_mobile : '' }}" required />

          <label for="form[email_address]">Email Address</label>
          <input type="email" name="form[email_address]" placeholder="" value="{{ form.email_address is defined ? form.email_address : '' }}" required />
        <hr />

        <label for="form[native_language]">Native Language</label>
        <input type="text" name="form[native_language]" placeholder="" value="{{ form.native_language is defined ? form.native_language : '' }}" required />

        <label for="form[marital_status]">Marital Status</label>
        <select name="form[marital_status]">
          <option value="male" {{ (form.marital_status is defined and form.marital_status == 'single') ? 'selected' : '' }}>Single</option>
          <option value="male" {{ (form.marital_status is defined and form.marital_status == 'married') ? 'selected' : '' }}>Divorced</option>
          <option value="male" {{ (form.marital_status is defined and form.marital_status == 'divorced') ? 'selected' : '' }}>Married</option>
          <option value="male" {{ (form.marital_status is defined and form.marital_status == 'widow/widower') ? 'selected' : '' }}>Widow/Widower</option>
        </select>

        <label for="form[section_id]">Student Section</label>
        <select name="form[section_id]">
          {% for section in sections %}
            <option value="{{ section.id }}" {{ (section.id == (mySection.id is defined ? mySection.id : '')) ? 'selected' : '' }} >{{ section.sectionName }}</option>
          {% endfor %}
        </select>

        <button id="form1Next"> Next (2/4) >> </button>
      </div>

      <div class="form fright" id="form2">
        <h1 class="welcomeText tacenter">{{ (mode == 'new') ? 'New Student' : 'Edit Student' }}</h1>
        <h3 class="welcomeText2 tacenter">(2/4) Person to be Contacted in Case of Emergency</h3>
        <h2>{{ result_message is defined ? result_message : '' }}</h2>

        <label for="form[pce_full_name]">Full Name</label>
        <input type="text" name="form[pce_full_name]" placeholder="" value="{{ form.pce_full_name is defined ? form.pce_full_name : '' }}" required />

        <label for="form[pce_relationship]">Relationship</label>
        <input type="text" name="form[pce_relationship]" placeholder="" value="{{ form.pce_relationship is defined ? form.pce_relationship : '' }}" required />

        <label for="form[pce_other]">Other</label>
        <input type="text" name="form[pce_other]" placeholder="" value="{{ form.pce_other is defined ? form.pce_other : '' }}" required />

        <label for="form[pce_telephone_home]">Telephone Home</label>
        <input type="text" name="form[pce_telephone_home]" placeholder="" value="{{ form.pce_telephone_home is defined ? form.pce_telephone_home : '' }}" required />

        <label for="form[pce_telephone_office]">Telephone Office</label>
        <input type="text" name="form[pce_telephone_office]" placeholder="" value="{{ form.pce_telephone_office is defined ? form.pce_telephone_office : '' }}" required />

        <label for="form[pce_house_number]">House Number</label>
        <input type="text" name="form[pce_house_number]" placeholder="" value="{{ form.pce_house_number is defined ? form.pce_house_number : '' }}" required />

        <label for="form[pce_kebele]">Kebele</label>
        <input type="number" name="form[pce_kebele]" placeholder="" value="{{ form.pce_kebele is defined ? form.pce_kebele : '' }}" required />

        <label for="form[pce_woreda_subcity]">Woreda/Subcity</label>
        <input type="text" name="form[pce_woreda_subcity]" placeholder="" value="{{ form.pce_woreda_subcity is defined ? form.pce_woreda_subcity : '' }}" required />

        <label for="form[pce_town]">Town</label>
        <input type="text" name="form[pce_town]" placeholder="" value="{{ form.pce_town is defined ? form.pce_town : '' }}" required />

        <label for="form[pce_zone]">Zone</label>
        <input type="text" name="form[pce_zone]" placeholder="" value="{{ form.pce_zone is defined ? form.pce_zone : '' }}" required />

        <label for="form[pce_region]">Region</label>
        <input type="text" name="form[pce_region]" placeholder="" value="{{ form.pce_region is defined ? form.pce_region : '' }}" required />

        <button id="form2Next">Next (3/4) >></button>
        <button id="form2Prev"><< Prev (1/4)</button>
      </div>

      <div class="form fright" id="form3">
        <h1 class="welcomeText tacenter">{{ (mode == 'new') ? 'New Student' : 'Edit Student' }}</h1>
        <h3 class="welcomeText2 tacenter">(3/4) Family Background</h3>
        <h2>{{ result_message is defined ? result_message : '' }}</h2>

        <label>Father</label>
        <hr />
          <label for="form[father_full_name]">Full Name</label>
          <input type="text" name="form[father_full_name]" placeholder="" value="{{ form.father_full_name is defined ? form.father_full_name : '' }}" required />

          <label for="form[father_occupation]">Occupation</label>
          <input type="text" name="form[father_occupation]" placeholder="" value="{{ form.father_occupation is defined ? form.father_occupation : '' }}" required />

          <label for="form[father_educational_level]">Educational Level</label>
          <input type="text" name="form[father_educational_level]" placeholder="" value="{{ form.father_educational_leventel is defined ? form.father_educational_leventel : '' }}" required />

          <label for="form[father_telephone_home]">Telephone Home Number</label>
          <input type="text" name="form[father_telephone_home]" placeholder="" value="{{ form.father_telephone_home is defined ? form.father_telephone_home : '' }}" required />

          <label for="form[father_telephone_office]">Telephone Office Number</label>
          <input type="text" name="form[father_telephone_office]" placeholder="" value="{{ form.father_telephone_office is defined ? form.father_telephone_office : '' }}" required />

          <label for="form[father_house_number]">Residence Address House Number</label>
          <input type="text" name="form[father_house_number]" placeholder="" value="{{ form.father_house_number is defined ? form.father_house_number : '' }}" required />

          <label for="form[father_kebele]">Kebele</label>
          <input type="number" name="form[father_kebele]" placeholder="" value="{{ form.father_kebele is defined ? form.father_kebele : '' }}" required />

          <label for="form[father_woreda_subcity]">Woreda/Subcity</label>
          <input type="text" name="form[father_woreda_subcity]" placeholder="" value="{{ form.father_woreda_subcity is defined ? form.father_woreda_subcity : '' }}" required />

          <label for="form[father_town]">Town</label>
          <input type="text" name="form[father_town]" placeholder="" value="{{ form.father_town is defined ? form.father_town : '' }}" required />

          <label for="form[father_zone]">Zone</label>
          <input type="text" name="form[father_zone]" placeholder="" value="{{ form.father_zone is defined ? form.father_zone : '' }}" required />

          <label for="form[father_region]">Region</label>
          <input type="text" name="form[father_region]" placeholder="" value="{{ form.father_region is defined ? form.father_region : '' }}" required />
        <hr />

        <label>Mother</label>
        <hr />
          <label for="form[mother_full_name]">Full Name</label>
          <input type="text" name="form[mother_full_name]" placeholder="" value="{{ form.mother_full_name is defined ? form.mother_full_name : '' }}" required />

          <label for="form[mother_occupation]">Occupation</label>
          <input type="text" name="form[mother_occupation]" placeholder="" value="{{ form.mother_occupation is defined ? form.mother_occupation : '' }}" required />

          <label for="form[mother_educational_level]">Educational Level</label>
          <input type="text" name="form[mother_educational_level]" placeholder="" value="{{ form.mother_educational_leventel is defined ? form.mother_educational_leventel : '' }}" required />

          <label for="form[mother_telephone_home]">Telephone Home Number</label>
          <input type="text" name="form[mother_telephone_home]" placeholder="" value="{{ form.mother_telephone_home is defined ? form.mother_telephone_home : '' }}" required />

          <label for="form[mother_telephone_office]">Telephone Office Number</label>
          <input type="text" name="form[mother_telephone_office]" placeholder="" value="{{ form.mother_telephone_office is defined ? form.mother_telephone_office : '' }}" required />

          <label for="form[mother_house_number]">Residence Address House Number</label>
          <input type="text" name="form[mother_house_number]" placeholder="" value="{{ form.mother_house_number is defined ? form.mother_house_number : '' }}" required />

          <label for="form[mother_kebele]">Kebele</label>
          <input type="number" name="form[mother_kebele]" placeholder="" value="{{ form.mother_kebele is defined ? form.mother_kebele : '' }}" required />

          <label for="form[mother_woreda_subcity]">Woreda/Subcity</label>
          <input type="text" name="form[mother_woreda_subcity]" placeholder="" value="{{ form.mother_woreda_subcity is defined ? form.mother_woreda_subcity : '' }}" required />

          <label for="form[mother_town]">Town</label>
          <input type="text" name="form[mother_town]" placeholder="" value="{{ form.mother_town is defined ? form.mother_town : '' }}" required />

          <label for="form[mother_zone]">Zone</label>
          <input type="text" name="form[mother_zone]" placeholder="" value="{{ form.mother_zone is defined ? form.mother_zone : '' }}" required />

          <label for="form[mother_region]">Region</label>
          <input type="text" name="form[mother_region]" placeholder="" value="{{ form.mother_region is defined ? form.mother_region : '' }}" required />
        <hr />

        {% if(mode == 'new') %}
          <button id="form3Next">Next (4/4) >></button>
        {% endif %}

        {% if(mode == 'edit') %}
          <button>Save Changes</button>
        {% endif %}

        <button id="form3Prev"><< Prev (2/4)</button>
      </div>

      {% if(mode == 'new') %}
        <div class="form fright" id="form4">
          <h1 class="welcomeText tacenter">{{ (mode == 'new') ? 'New Student' : 'Edit Student' }}</h1>
          <h3 class="welcomeText2 tacenter">(4/4) Sign In Information</h3>
          <h2>{{ result_message is defined ? result_message : '' }}</h2>


          <label for="form[user_name]">User Name</label>
          <input type="text" name="form[user_name]" placeholder="user_12" value="{{ form.user_name is defined ? form.user_name : '' }}" required />

          <label for="form[password]">Password</label>
          <input type="password" name="form[password]" placeholder="A minimum of 6 characters" required />

          <label for="form[confirm_password]">Confirm Password</label>
          <input type="password" name="form[confirm_password]" placeholder="A minimum of 6 characters" required />

          {% if(mode == 'new') %}
            <button>Register Student</button>
          {% endif %}

          <button id="form4Prev"><< Prev (3/4)</button>
        </div>
      {% endif %}

    </form>

    <hr class="clear" width="0" />
  </div>
{% endblock %}

{% block javascript %}
  <script type="text/javascript">
    $(document).ready(function(){
      $('#form2').hide();
      $('#form3').hide();
      $('#form4').hide();

      $('#form1Next').on("click", function(event) {
        event.preventDefault();
        $('#form2').show();
        $('#form1').hide();
        window.location = '#top';
      });

      $('#form2Next').on("click", function(event) {
        event.preventDefault();
        $('#form3').show();
        $('#form2').hide();
        window.location = '#top';
      });

      $('#form2Prev').on("click", function(event) {
        event.preventDefault();
        $('#form1').show();
        $('#form2').hide();
        window.location = '#top';
      });

      $('#form3Next').on("click", function(event) {
        event.preventDefault();
        $('#form4').show();
        $('#form3').hide();
        window.location = '#top';
      });

      $('#form3Prev').on("click", function(event) {
        event.preventDefault();
        $('#form2').show();
        $('#form3').hide();
        window.location = '#top';
      });

      $('#form4Prev').on("click", function(event) {
        event.preventDefault();
        $('#form3').show();
        $('#form4').hide();
        window.location = '#top';
      });
    });
  </script>
{% endblock %}
