{% extends 'base.html.twig' %}
{% block title %}
  School Assessments View
{% endblock %}

{% block stylesheet %}
<style>

</style>
{% endblock %}

{% block body %}
  <div class="wide_container" id="view_container">
    <h1><big>
      {{ student.firstNameEn ~ ' ' ~ student.middleNameEn ~ ' ' ~ student.lastNameEn ~ ' (' ~ student.admissionNumber ~ ')' }}
    </big></h1>

    <h1>Section / Batch :
      {{ student.sectionId.sectionName ~ ' / ' ~ student.sectionId.batchId.batchName }}
    </h1>

    <h1>Curriculum / School:
      <a href="{{ path('curriculum_view_one', {'curriculum_id': student.sectionId.curriculumId.id}) }}" id="moreDetBtn">{{ student.sectionId.curriculumId.curriculumName }}</a> /
      <a href="{{ path('school_view_one', {'school_id': student.sectionId.curriculumId.schoolId.id}) }}" id="moreDetBtn">{{ student.sectionId.curriculumId.schoolId.schoolName }}</a>
    </h1>

    <table id="wide_table">
      <thead>
        <tr>
          <th>Session</th>
          <th>Course/Module</th>
          <th>Result</th>
          <th>Grade</th>
          <th>Remark</th>

          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        {% for session_result in session_results %}
          <tr>
            <td id="result_row">
              <a href="{{ path('student_assessment_results', {'session_id': session_result.sessionId.id}) }}" id="moreDetBtn">
                {{ session_result.sessionId.sessionName }}
              </a>
            </td>

            <td>
              {% if session_result.sessionId.courseModuleType == 'course' %}
                {{ session_result.sessionId.courseModuleType | capitalize ~ ' - ' ~ session_result.sessionId.courseId.courseName }}
              {% elseif session_result.sessionId.courseModuleType == 'module' %}
                {{ session_result.sessionId.courseModuleType | capitalize ~ ' - ' ~ session_result.sessionId.moduleId.moduleName }}
              {% endif %}
            </td>

            <td>{{ session_result.resultInNumber }}</td>
            <td>{{ session_result.resultInAlphabet }}</td>
            <td>{{ session_result.sessionResultRemark | capitalize }}</td>
            <td><a href="{{ path('student_assessment_results', {'session_id': session_result.sessionId.id}) }}">
              more
            </a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
