{% extends 'base.html.twig' %}
{% block title %}
  {{ student.firstNameEn }} {{ student.middleNameEn }} {{ student.lastNameEn }}
{% endblock %}

{% block stylesheet %}
<style>
.form {
  width: 500px;
}
</style>
{% endblock %}

{% block body %}
  <article class="container taleft">
    <div class="form fright">

      <h1 class="welcomeText tacenter">{{ student.firstNameEn }} {{ student.middleNameEn }} {{ student.lastNameEn }}</h1>
      <table>
        <tr>
          <td class="taright"><a href="{{ path('student_edit', {'student_id': student.id}) }}">Edit Student</a></td>
        </tr>
      </table>

      <table id="form1">
        <tr>
          <td align="center" colspan="2">
            <img src="{{ asset('img/user_photos/' ~ user_lit.userPhoto) }}" alt="" width="250" />
          </td>
        </tr>
        
        <tr>
          <td>Admission Number:</td>
          <td>{{ student.admissionNumber }}</td>
        </tr>

        <tr>
          <td>First Name:</td>
          <td>{{ student.firstNameEn }}</td>
        </tr>

        <tr>
          <td>Middle Name:</td>
          <td>{{ student.middleNameEn }}</td>
        </tr>

        <tr>
          <td>Last Name</td>
          <td>{{ student.lastNameEn }}</td>
        </tr>

        <tr>
          <td>የመጀመሪያ ስም:</td>
          <td>{{ student.firstNameAm }}</td>
        </tr>

        <tr>
          <td>የአባት ስም</td>
          <td>{{ student.middleNameAm }}</td>
        </tr>

        <tr>
          <td>የአያት ሥም</td>
          <td>{{ student.lastNameAm }}</td>
        </tr>

        <tr>
          <td>User Name</td>
          <td>{{ student.userName }}</td>
        </tr>

        <tr>
          <td>Section</td>
          <td><a href="{{ path('section_view_one', {'section_id': student.sectionId.id}) }}">
            {{ student.sectionId.sectionName }}
          </a></td>
        </tr>
      </table>
    </div>

    <hr class="clear" width="0" />
  </article>
{% endblock %}

{% block javascript %}

{% endblock %}
