{% extends 'base.html.twig' %}
{% block title %}
  Student View
{% endblock %}

{% block stylesheet %}
<style>

</style>
{% endblock %}

{% block body %}
  <div class="container" id="view_container">
    {% if ((app.session.get('user_type') == 'admin') ? (app.session.get('admin_class') == 'registrar head' or app.session.get('admin_class') == 'registrar officer') : false ) %}
      <a href="{{ path('student_register') }}">New Student</a>
    {% endif %}
    <table border="0">
      <thead>
        <tr>
          <th>Admission Number</th>
          <th>Student Name</th>
          <th>Student Section</th>
          <th>User Name</th>
          <th colspan="3">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for student in students %}
          <tr>
            <td>{{ student.admissionNumber }}</td>
            <td>{{ student.firstNameEn }} {{ student.middleNameEn }} {{ student.lastNameEn }}</td>
            <td>{{ student.sectionId.sectionName }}</td>
            <td>{{ student.userName }}</td>

            <td id="actions"><a href="{{ path('student_view_one', {'student_id': student.id}) }}">view</button></td>

            {% if ((app.session.get('user_type') == 'admin') ? (app.session.get('admin_class') == 'registrar head' or app.session.get('admin_class') == 'registrar officer') : false ) %}
              <td id="actions"><a href="{{ path('student_edit', {'student_id': student.id}) }}" id="editBtn">edit</button></td>
              <td id="actions"><a href="{{ path('student_delete', {'student_id': student.id}) }}" id="deleteBtn"
                    onclick="return confirm('Are You Sure You Want To Delete {{ student.firstNameEn }} {{ student.middleNameEn }} {{ student.lastNameEn}}?') ">delete</button></td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
