{% extends 'base.html.twig' %}
{% block title %}
  {{ (mode == 'new') ? 'New Grade' : 'Edit Grade' }}
{% endblock %}

{% block stylesheet %}
<style>

</style>
{% endblock %}

{% block body %}
  <div class="container taright">
    <form class="form fright" method="post">
      <h1 class="welcomeText tacenter">{{ (mode == 'new') ? 'New Grade' : 'Edit Grade' }}</h1>
      <h2>{{ result_message is defined ? result_message : '' }}</h2>

      <label for="form[start_point]">Starting Point</label>
      <input type="text" name="form[start_point]" value="{{ form.start_point is defined ? form.start_point : '' }}" required />

      <label for="form[end_point]">Ending Point</label>
      <input type="text" name="form[end_point]" value="{{ form.end_point is defined ? form.end_point : '' }}" required />

      <label for="form[grade]">Grade</label>
      <input type="text" name="form[grade]" value="{{ form.grade is defined ? form.grade : '' }}" required />


      <label for="form[grade_system]">Grade System</label>
      <select name="form[grade_system]">
        {% for grade_system in grade_systems %}
          <option value="{{ grade_system.id }}">{{ grade_system.gradeSystemCode | upper ~ ' (' ~ grade_system.gradeSystemName ~ ')' }}</option>
        {% endfor %}
      </select>

      <button>{{ (mode == 'new') ? 'Create Grade' : 'Save Changes' }}</button>
    </form>

    <hr class="clear" width="0" />
  </div>
{% endblock %}
