{% extends 'base.html.twig' %}
{% block title %}
  Grade View
{% endblock %}

{% block stylesheet %}
<style>

</style>
{% endblock %}

{% block body %}
  <div class="container" id="view_container">
    <a href="{{ path('grade_system_view') }}"> << Grade System View </a>
    {% if ((app.session.get('user_type') == 'admin') ? (app.session.get('admin_class') == 'registrar head' or app.session.get('admin_class') == 'registrar officer') : false ) %}
      <a href="{{ path('grade_create', {'grade_system_id': grade_system.id }) }}">New Grade</a>
    {% endif %}

    <h1>{{ grade_system.gradeSystemCode | upper ~ ' (' ~ grade_system.gradeSystemName ~ ')' }}</h1>

    <table border="0">
      <thead>
        <tr>
          <th>Range (%)</th>
          <th>Grade</th>
          <th>Remark</th>
          {% if ((app.session.get('user_type') == 'admin') ? (app.session.get('admin_class') == 'registrar head' or app.session.get('admin_class') == 'registrar officer') : false ) %}
            <th colspan="3">Actions</th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% for grade in grades %}
          <tr>
            <td id="total_row">{{ '(' ~ grade.startPoint ~ ' - ' ~ grade.endPoint ~')' }}</td>
            <td>{{ grade.grade }}</td>
            <td>{{ grade.gradeRemark | capitalize }}</td>

            {% if ((app.session.get('user_type') == 'admin') ? (app.session.get('admin_class') == 'registrar head' or app.session.get('admin_class') == 'registrar officer') : false ) %}
              <td id="actions"><a href="{{ path('grade_edit', {'grade_id': grade.id}) }}" id="editBtn">edit</button></td>
              <td id="actions"><a href="{{ path('grade_delete', {'grade_id': grade.id}) }}" id="deleteBtn"
                onclick="return confirm('Are You Sure You Want To Delete Grade {{ grade.startPoint ~ ' - ' ~ grade.endPoint ~ ' (' ~ grade.grade ~ ')' }}?') ">delete</button></td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
