{% extends 'base.html.twig' %}
{% block title %}
  Grade View
{% endblock %}

{% block stylesheet %}
<style>

</style>
{% endblock %}

{% block body %}
  <div class="container" id="view_container">
    <a href="{{ path('grade_create') }}">New Grade</a>
    <table border="0">
      <thead>
        <tr>
          <th>Range (%)</th>
          <th>Grade</th>
          <th>Grading System</th>
          <th colspan="3">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for grade in grades %}
          <tr>
            <td>{{ '(' ~ grade.startPoint ~ ' - ' ~ grade.endPoint ~')' }}</td>
            <td>{{ grade.grade }}</td>
            <td>
              {% for grade_system in grade_systems %}
                {% if grade_system.id == grade.gradeSystemId %}
                  {{ grade_system.gradeSystemCode | upper ~ ' (' ~ grade_system.gradeSystemName ~ ')' }}
                {% endif %}
              {% endfor %}
            </td>

            <td><a href="{{ path('grade_edit', {'grade_id': grade.id}) }}" id="editBtn">edit</button></td>
            <td><a href="{{ path('grade_delete', {'grade_id': grade.id}) }}" id="deleteBtn"
                  onclick="return confirm('Are You Sure You Want To Delete Grade {{ grade.startPoint ~ ' - ' ~ grade.endPoint ~ ' (' ~ grade.grade ~ ')' }}?') ">delete</button></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
