{% extends 'base.html.twig' %}
{% block title %}
  Grade View
{% endblock %}

{% block stylesheet %}
<style>

</style>
{% endblock %}

{% block body %}
  <div class="container" id="view_container">
    <a href="{{ path('grade_system_view') }}"> << Grade System View </a>
    <a href="{{ path('grade_create', {'grade_system_id': grade_system.id }) }}">New Grade</a>

    <h1>{{ grade_system.gradeSystemCode | upper ~ ' (' ~ grade_system.gradeSystemName ~ ')' }}</h1>

    <table border="0">
      <thead>
        <tr>
          <th>Range (%)</th>
          <th>Grade</th>
          <th colspan="3">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for grade in grades %}
          <tr>
            <td>{{ '(' ~ grade.startPoint ~ ' - ' ~ grade.endPoint ~')' }}</td>
            <td>{{ grade.grade }}</td>

            <td id="actions"><a href="{{ path('grade_edit', {'grade_id': grade.id}) }}" id="editBtn">edit</button></td>
            <td id="actions"><a href="{{ path('grade_delete', {'grade_id': grade.id}) }}" id="deleteBtn"
                  onclick="return confirm('Are You Sure You Want To Delete Grade {{ grade.startPoint ~ ' - ' ~ grade.endPoint ~ ' (' ~ grade.grade ~ ')' }}?') ">delete</button></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
