{% extends 'base.html.twig' %}
{% block title %}
  School Assessments View
{% endblock %}

{% block stylesheet %}
<style>

</style>
{% endblock %}

{% block body %}
  <div class="container" id="view_container">
    <table border="0">
      <thead>
        <tr>
          {% for assessment_type in assessment_types %}
            <th>{{ assessment_type.assessmentName }} <br /> {{ '('~ assessment_type.assessmentWorth ~'%)'}}</th>
          {% endfor %}
          <th>type</th>
          <th>Assessment Result Student</th>
          <th>Assessment Result</th>
          <th colspan="3">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for assessment_result in assessment_results %}
          <tr>
            {% for assessment_type in assessment_types %}
              <td>{{ assessment_type.assessmentName }} <br /> {{ '('~ assessment_type.assessmentWorth ~'%)'}}</td>
            {% endfor %}

            <td>
              {% for assessment_session in assessment_sessions %}
                {% if(assessment_session.id == assessment_result.assessmentSessionId) %}
                  {% for assessment_type in assessment_types %}
                    {% if(assessment_type.id == assessment_session.assessmentId) %}
                      {{ assessment_type.assessmentName ~ ' (' ~ assessment_type.assessmentWorth ~ '%)' }}
                    {% endif %}
                  {% endfor %}
                {% endif %}
              {% endfor %}
            </td>

            <td>
              {% for student in students %}
                {% if(student.id == assessment_result.studentId) %}
                  {{ student.firstNameEn ~ ' ' ~ student.middleNameEn ~ ' ' ~ student.lastNameEn ~ ' ' ~ '(' ~ student.userName ~ ')' }}
                {% endif %}
              {% endfor %}
            </td>

            <td>{{ assessment_result.resultValue }}</td>

            {% if(app.session.get('user_type') == 'admin') %}
              <td><a href="{{ path('assessment_result_edit', {'assessment_result_id': assessment_result.id}) }}" id="editBtn">edit</button></td>
              <td><a href="{{ path('assessment_result_delete', {'assessment_result_id': assessment_result.id}) }}" id="deleteBtn"
                    onclick="return confirm('Are You Sure You Want To Delete Assessment?') ">delete</button></td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
