{% extends 'base.html.twig' %}
{% block title %}
  School Assessments View
{% endblock %}

{% block stylesheet %}
<style>

</style>
{% endblock %}

{% block body %}
  <div class="wide_container" id="view_container">
    <h1>{{ school_session.sessionName ~ ' - ' ~ school_session.courseId.courseName ~ ' (' ~ school_session.courseId.courseCode | upper ~ ')' }}</h1>

    <h1>Prerequisites:</h1>
    <h2 style="margin-left: 15px;">
      {% if prerequisites is empty %}
        None.
      {% endif %}

      {% for prerequisite in prerequisites %}
        {% if prerequisite.prerequisiteType == 'course' %}
          <a href="{{ path('course_view', {'course_id': prerequisite.prerequisiteCourseId.id}) }}" id="moreDetBtn">
            {{ prerequisite.prerequisiteCourseId.courseName }}
          </a>
        {% elseif prerequisite.prerequisiteType == 'module' %}
          <a href="{{ path('module_view', {'module_id': prerequisite.prerequisiteModuleId.id}) }}" id="moreDetBtn">
            {{ prerequisite.prerequisiteModuleId.moduleName }}
          </a>
        {% endif %}
        {{ '(' ~ prerequisite.prerequisiteType | capitalize ~ ')' }}.
      {% endfor %}
    </h2>

    {% if assessment_results is empty %}
      <a href="{{ path('assessment_result_create', {'school_session_id': school_session.id}) }}"
      onclick="return confirm('Are You Sure?')">Start Assessment</a>
    {% else %}
      <table id="wide_table">
        <thead>
          <tr>
            <th>Addmission Number</th>
            <th>Assessment Result Student</th>

            {% set assessmentWorthTotal = 0 %}
            {% for assessment_type in assessment_types %}
              <th>
                {% set assessmentWorthTotal = assessmentWorthTotal + assessment_type.assessmentWorth %}
                {{ assessment_type.assessmentName ~ ' ('~ assessment_type.assessmentWorth ~ '%)' }}
              </th>
            {% endfor %}

            <th>
              Total ({{ assessmentWorthTotal }}%)
            </th>
          </tr>
        </thead>

        <tbody>
          {% set is_teacher = false %}
          {% for student in students %}
            {% set student_takes_session = false %}
            {% for assessment_result in assessment_results %}
              {% if assessment_result.studentId == student %}
                {% set student_takes_session = true %}
              {% endif %}
            {% endfor %}

            {% if student_takes_session %}
              <tr>
                <td>
                  {{ student.admissionNumber }}
                </td>
                <td>
                  {{ student.firstNameEn ~ ' ' ~ student.middleNameEn ~ ' ' ~ student.lastNameEn }}
                </td>

                {% set assessmentResultTotal = 0 %}
                {% for assessment_type in assessment_types %}
                <td id="result_row">
                  {% for assessment_result in assessment_results %}
                    {% if assessment_result.assessmentTypeId == assessment_type and assessment_result.studentId == student %}
                      {% if assessment_result.resultValue matches '/^[-+]?[0-9]*\\.?[0-9]+$/' %}
                        {% set assessmentResultTotal = assessmentResultTotal + assessment_result.resultValue %}
                      {% endif %}

                      {% if (app.session.get('user_type') == 'teacher') and (app.session.get('user_id') == assessment_result.sessionId.teacherId.id) %}
                        {% set is_teacher = true %}
                        <input type="text" class="result_{{ student.id ~ '_' ~ assessment_result.id }} student_{{ student.id }} result_value"
                        title="{{ assessment_result.id }}" value="{{ assessment_result.resultValue is defined ? assessment_result.resultValue : 0 }}" />
                      {% else %}
                        <p class="edit_result">{{ assessment_result.resultValue is defined ? assessment_result.resultValue : '' }}</p>
                      {% endif %}
                    {% endif %}
                  {% endfor %}
                </td>
                {% endfor %}

                <td id="total_{{ student.id }}">
                  {{ assessmentResultTotal }}
                </td>
              </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>

      {% if is_teacher %}
        <a href="{{ path('session_result_publish', {'school_session_id': school_session_id}) }}" class="fright"
        onclick="return confirm('Results will be displayed to students. Are you sure?')">Publish Results</a>
      {% endif %}
    {% endif %}
  </div>
{% endblock %}

{% block javascripts %}
  <script type="text/javascript">
    function saveResults(result_value, result_id){
      $.ajax({
        url: '/assessment_result/edit/'+result_id,
        type: "POST",
        dataType: "json",
        data: {
          result_value  : result_value
        },
        async: true,
        success: function (data)
        {
          $('#total_' + data.student).html(data.result);
        }
      });
    }

    $('.result_value').focusout(function(){
      var result_value = $(this).val();
      var result_id = $(this).attr('title');
      saveResults(result_value, result_id);
    });

    $('.result_value').keydown(function(event){
      if(event.which == 13){
        var result_value = $(this).val();
        var result_id = $(this).attr('title');
        saveResults(result_value, result_id);
        $(this).blur();
      } else if(event.which == 27)
        $(this).blur();
    });
  </script>
{% endblock %}
