{% extends 'base.html.twig' %}
{% block title %}
  School Assessments View
{% endblock %}

{% block stylesheet %}
<style>

</style>
{% endblock %}

{% block body %}
  <div class="wide_container" id="view_container">
    <a href="{{ path('assessment_result_create', {'school_session_id': school_session_id}) }}">Add Student Result</a>

    <h1>{{ school_session.courseId.courseName ~ ' (' ~ school_session.courseId.courseCode | upper ~ ')' }}</h1>

    <table id="wide_table">
      <thead>
        <tr>
          <th>Addmission Number</th>
          <th>Assessment Result Student</th>

          {% set assessmentWorthTotal = 0 %}
          {% for assessment_type in assessment_types %}
            <th>
              {% set assessmentWorthTotal = assessmentWorthTotal + assessment_type.assessmentWorth %}
              {{ assessment_type.assessmentName ~ ' ('~ assessment_type.assessmentWorth ~ '%)' }}
            </th>
          {% endfor %}

          <th>
            Total ({{ assessmentWorthTotal }}%)
          </th>

          <th>Grade</th>
          <th>Remark</th>
        </tr>
      </thead>

      <tbody>
        {% for prerequisite in prerequisites %}
          {{ prerequisite.courseId.courseName ~ ', ' }}
        {% endfor %}

        {% for student in students %}
          <tr>
            <td id="total_row">
              {{ student.admissionNumber }}
            </td>
            <td>
              {{ student.firstNameEn ~ ' ' ~ student.middleNameEn ~ ' ' ~ student.lastNameEn }}
            </td>

            {% set assessmentResultTotal = 0 %}
            {% for assessment_type in assessment_types %}
              <td>
                {% for assessment_result in assessment_results %}
                  {% if assessment_result.assessmentTypeId == assessment_type.id and assessment_result.studentId == student.id %}
                    {% set assessmentResultTotal = assessmentResultTotal + assessment_result.resultValue %}
                    {{ assessment_result.resultValue }}
                  {% endif %}
                {% endfor %}
              </td>
            {% endfor %}

            <td>
              {{ assessmentResultTotal }}
            </td>

            {% for grade in grades %}
              {% if assessmentResultTotal >= grade.startPoint and assessmentResultTotal < grade.endPoint %}
              <td>{{ grade.grade }}</td>
              <td>{{ grade.gradeRemark | capitalize }}</td>
              {% endif %}
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>

      <a href="{{ path('session_result_create', {'school_session_id': school_session_id}) }}" class="fright"
      onclick="return confirm('Results will be displayed to students. Are you sure?')">Publish Results</a>
  </div>
{% endblock %}
