{% extends 'base.html.twig' %}
{% block title %}
  {{ (mode == 'new') ? 'New Assessment Type' : 'Edit Assessment Type' }}
{% endblock %}

{% block stylesheet %}
<style>

</style>
{% endblock %}

{% block body %}
  <div class="container taright">
    <form class="form fright" method="post">
      <h1 class="welcomeText tacenter">{{ (mode == 'new') ? 'New Assessment Type' : 'Edit Assessment Type' }}</h1>
      <h2>{{ result_message is defined ? result_message : '' }}</h2>

      {% if mode =='new' %}
        <label>Assessment Type System</label>
        <h2>{{ assessment_type_system.assessmentTypeSystemCode | upper ~ ' (' ~ assessment_type_system.assessmentTypeSystemName ~ ')' }}</h2>
      {% endif %}

      <label for="form[assessment_name]">Assessment Name</label>
      <input type="text" name="form[assessment_name]" placeholder="" value="{{ form.assessment_name is defined ? form.assessment_name : '' }}" required />

      <label for="form[assessment_worth]">Assessment Weight</label>
      <input type="number" name="form[assessment_worth]" placeholder="" value="{{ form.assessment_worth is defined ? form.assessment_worth : '' }}" required />

      {% if mode == 'edit' %}
        <label for="form[assessment_type_system]">Assessment Type System</label>
        <select name="form[assessment_type_system]">
          {% for assessment in assessment_type_systems %}
            <option value="{{ assessment.id }}" {{ (form.assessment_type_system is defined and form.assessment_type_system == assessment.id) ? 'selected' : '' }}>{{ assessment.assessmentTypeSystemCode | upper ~ ' (' ~ assessment.assessmentTypeSystemName ~ ')' }}</option>
          {% endfor %}
        </select>
      {% endif %}

      <button>{{ (mode == 'new') ? 'Create Assessment Type' : 'Save Changes' }}</button>
    </form>

    <hr class="clear" width="0" />
  </div>
{% endblock %}

{% block javascript %}
  <script type="text/javascript">
    function TypeDiff() {
      ($('#courseModuleType').val() == 'course') ? $('#modules').hide() : $('#courses').hide();
      $('#' + $('#courseModuleType').val() + 's').show();
    }

    $(document).ready(function(){
      TypeDiff();

      $('#courseModuleType').on("change", function() {
        TypeDiff();
      });
    });
  </script>
{% endblock %}
