{% extends 'base.html.twig' %}
{% block title %}
  School Assessments View
{% endblock %}

{% block stylesheet %}
<style>

</style>
{% endblock %}

{% block body %}
  <div class="container" id="view_container">
    <a href="{{ path('assessment_type_system_view') }}"> << Go Back </a>
    <a href="{{ path('assessment_type_create', {'assessment_type_system_id': assessment_type_system.id}) }}">New School Assessment</a>

    <h1>{{ assessment_type_system.assessmentTypeSystemCode | upper ~ ' (' ~ assessment_type_system.assessmentTypeSystemName ~ ')' }}</h1>

    <table border="0">
      <thead>
        <tr>
          <th>Assessment Name</th>
          <th>Assessment Weight</th>
          <th colspan="3">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for assessment in assessment_types %}
          <tr>
            <td>{{ assessment.assessmentName }}</td>
            <td>{{ assessment.assessmentWorth ~ '%' }}</td>

            {% if(app.session.get('user_type') == 'admin') %}
              <td id="actions"><a href="{{ path('assessment_type_edit', {'assessment_type_id': assessment.id}) }}" id="editBtn">edit</button></td>
              <td id="actions"><a href="{{ path('assessment_type_delete', {'assessment_type_id': assessment.id}) }}" id="deleteBtn"
                    onclick="return confirm('Are You Sure You Want To Delete {{ assessment.assessmentName ~ ' (' ~ assessment.assessmentWorth }})?') ">delete</button></td>
            {% endif %}
          </tr>
        {% endfor %}

        <tr>
          <td id="total_row">Total</td>
          <td>
            {% set assessmentWorthTotal = 0 %}

            {% for assessment_type in assessment_types %}
              {% set assessmentWorthTotal = assessmentWorthTotal + assessment_type.assessmentWorth %}
            {% endfor %}

            {{ assessmentWorthTotal ~ '%' }}
          </td>

          <td colspan="3"></td>
        </tr>
      </tbody>
    </table>
  </div>
{% endblock %}
