{% extends 'base.html.twig' %}
{% block title %}
  Administrator
{% endblock %}

{% block stylesheet %}
<style>

</style>
{% endblock %}

{% block body %}
  <div class="container">
    <h1 class="welcomeText aright taright">Welcome {{ si_user_name }}.</h1>

    <article class="tasks">
      <div><a href="{{ path('admin_view') }}">
        <img src="images/icons/admin.png" draggable="false" /><br />Admins
      </a></div>

      <div><a href="{{ path('school_view') }}">
        <img src="images/icons/school.png" draggable="false" /><br />Schools
      </a></div>

      <div><a href="{{ path('department_view') }}">
        <img src="images/icons/department.png" draggable="false" /><br />Departments
      </a></div>

      <div><a href="{{ path('curriculum_view') }}">
        <img src="images/icons/curriculum.svg" draggable="false" /><br />Curriculums
      </a></div>

      <div><a href="{{ path('teacher_view') }}">
        <img src="images/icons/teacher.png" draggable="false" /><br />Teachers
      </a></div>

      <div><a href="{{ path('semester_view') }}">
        <img src="images/icons/semester.png" draggable="false" /><br />Semesters
      </a></div>

      <div><a href="{{ path('module_view') }}">
        <img src="images/icons/module.png" draggable="false" /><br />Modules
      </a></div>

      <div><a href="{{ path('course_view') }}">
        <img src="images/icons/course.png" draggable="false" /><br />Courses
      </a></div>


      <div><a href="{{ path('prerequisite_view') }}">
        <img src="images/icons/prerequisite.png" draggable="false" /><br />Prerequisites
      </a></div>

      <div><a href="{{ path('batch_view') }}">
        <img src="images/icons/batch.png" draggable="false" /><br />Batches
      </a></div>

      <div><a href="{{ path('student_view') }}">
        <img src="images/icons/student.png" draggable="false" /><br />Students
      </a></div>

      <div><a href="{{ path('section_view') }}">
        <img src="images/icons/section.png" draggable="false" /><br />Sections
      </a></div>

      <div><a href="{{ path('session_view') }}">
        <img src="images/icons/session.png" draggable="false" /><br />School Sessions
      </a></div>

      <div><a href="{{ path('result_view') }}">
        <img src="images/icons/result.png" draggable="false" /><br />Results
      </a></div>

      <div><a href="{{ path('session_view') }}">
        <img src="images/icons/assessment.png" draggable="false" /><br />Assessment
      </a></div>

      <div><a href=" {{ path('user_signout') }} " onclick="return confirm('Are You Sure You Want To Sign Out?') ">
        <img src="images/icons/signout.png" draggable="false" /><br />Sign Out
      </a></div>
    </article>
    <hr class="clear" width="0" />
  </div>
{% endblock %}
