{% extends 'base.html.twig' %}
{% block title %}
  Admin View
{% endblock %}

{% block stylesheet %}
<style>

</style>
{% endblock %}

{% block body %}
  <div class="container" id="view_container">
    {% if ((app.session.get('user_type') == 'admin') ? (app.session.get('admin_class') == 'registrar head' or app.session.get('admin_class') == 'registrar officer') : false ) %}
      <a href="{{ path('admin_create') }}">New Admin</a>
    {% endif %}

    <table border="0">
      <thead>
        <tr>
          <th>Name</th>
          <th>Mobile Number</th>
          <th>Email Address</th>
          <th>Admin Class</th>
          <th colspan="3">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for admin in admins %}
          <tr>
            <td>{{ admin.firstName ~ ' ' ~ admin.middleName ~ ' ' ~ admin.lastName }}</td>
            <td>{{ admin.mobileNumber }}</td>
            <td>{{ admin.emailAddress }}</td>
            <td>{{ admin.adminClass | capitalize }}</td>

            <td id="actions"><a href="{{ path('admin_view_one', {'admin_id': admin.id}) }}">view</a></td>

            {% if ((app.session.get('user_type') == 'admin') ? (app.session.get('admin_class') == 'registrar head' or app.session.get('admin_class') == 'registrar officer') : false ) %}
              <td id="actions"><a href="{{ path('admin_edit', {'admin_id': admin.id}) }}" id="editBtn">edit</button></td>
              <td id="actions"><a href="{{ path('admin_delete', {'admin_id': admin.id}) }}" id="deleteBtn"
                  onclick="return confirm('Are You Sure You Want To Delete {{ admin.firstName }} {{ admin.middleName }} {{ admin.lastName }}?') ">delete</button></td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
