{% extends 'base.html.twig' %}
{% block title %}
  Module View
{% endblock %}

{% block stylesheet %}
<style>

</style>
{% endblock %}

{% block body %}
  <div class="container" id="view_container">
    <h1><big>
      {% if school_sessions is not empty %}
        {{ student.firstNameEn ~ ' ' ~ student.middleNameEn ~ ' ' ~ student.lastNameEn ~ ' (' ~ student.admissionNumber ~ ')' }}
      {% endif %}
    </big></h1>

    <table>
      <thead>
        <tr>
          <th>Module Code</th>
          <th>Module Name</th>
          <th>Credit Hour</th>
          <th>Curriculum</th>
          <th>Module Session</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        {% for school_session in school_sessions %}
          {% set break = false %}

          {% for session_result in session_results %}
            {% if session_result.sessionId == school_session %}
              {% set break = true %}
            {% endif %}
          {% endfor %}

          {% if break %}
            <tr>
              <td>{{ school_session.moduleId.moduleCode }}</td>
              <td>{{ school_session.moduleId.moduleName }}</td>
              <td>{{ school_session.moduleId.moduleCreditHour }}</td>
              <td>
                <a href="{{ path('curriculum_view', {'curriculum_id': school_session.moduleId.curriculumId.id}) }}" id="moreDetBtn">{{ school_session.moduleId.curriculumId.curriculumName }}</a>
              </td>

              <td><a href="{{ path('session_view_one', {'session_id': school_session.id}) }}" id="moreDetBtn">
                ({{ school_session.sessionCode | upper }}) - {{ school_session.sessionName }}
              </a></td>

              <td>
                {% if(school_session.sessionEndDate < today) %}
                  Finished Session
                {% else %}
                  <font color="#009900">Ongoing Session</font>
                {% endif %}
              </td>

              <td id="actions"><a href="{{ path('module_view_one', {'module_id': school_session.moduleId.id}) }}">view</a></td>
            </tr>
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
