{% extends 'base.html.twig' %}
{% block title %}
  Module View
{% endblock %}

{% block stylesheet %}
<style>

</style>
{% endblock %}

{% block body %}
  <div class="container" id="view_container">
    {% if ((app.session.get('user_type') == 'admin') ? (app.session.get('admin_class') == 'registrar head' or app.session.get('admin_class') == 'registrar officer') : false ) %}
      <a href="{{ path('module_create') }}">New Module</a>
    {% endif %}

    <table border="0">
      <thead>
        <tr>
          <th>Module Code</th>
          <th>Module Name</th>
          <th>Module Credit Hour</th>
          <th>Module Curriculum</th>
          <th colspan="3">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for module in modules %}
          <tr>
            <td>{{ module.moduleCode }}</td>
            <td>{{ module.moduleName }}</td>
            <td>{{ module.moduleCreditHour }}</td>
            <td>
              <a href="{{ path('curriculum_view', {'curriculum_id': module.curriculumId.id}) }}" id="moreDetBtn">{{ module.curriculumId.curriculumName }}</a>
            </td>

            <td id="actions"><a href="{{ path('module_view_one', {'module_id': module.id}) }}">view</a></td>

            {% if ((app.session.get('user_type') == 'admin') ? (app.session.get('admin_class') == 'registrar head' or app.session.get('admin_class') == 'registrar officer') : false ) %}
              <td id="actions"><a href="{{ path('module_edit', {'module_id': module.id}) }}" id="editBtn">edit</button></td>
              <td id="actions"><a href="{{ path('module_delete', {'module_id': module.id}) }}" id="deleteBtn"
                    onclick="return confirm('Are You Sure You Want To Delete {{ module.moduleName }} ({{ module.moduleCode }})?') ">delete</button></td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
