{% extends 'base.html.twig' %}
{% block title %}
  {{ school.schoolCode }}
{% endblock %}

{% block stylesheet %}
<style>
</style>
{% endblock %}

{% block body %}
  <article class="container taleft">
    <div class="form fright">

      <h1 class="welcomeText tacenter">{{ school.schoolName }} ({{ school.schoolCode }})</h1>

      <table>
        <tr>
          <td>School Code:</td>
          <td>{{ school.schoolCode }}</td>
        </tr>

        <tr>
          <td>School Name:</td>
          <td>{{ school.schoolName }}</td>
        </tr>
      </table>
    </div>

    <hr class="clear" width="0" />
  </article>
{% endblock %}
