{% extends 'base.html.twig' %}
{% block title %}
  {{ section.sectionCode }}
{% endblock %}

{% block stylesheet %}
<style>
</style>
{% endblock %}

{% block body %}
  <div class="container" id="view_container">
    <h1>{{ section.sectionName }} ({{ section.sectionCode | upper }}) / {{ section.batchId.batchName }}</h1>

    <table>
      <thead>
        <tr>
          <th>Admission Number</th>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        {% for student in students %}
          <tr>
            <td id="total_row">{{ student.admissionNumber }}</td>
            <td>
              {{ student.firstNameEn ~ ' ' ~ student.middleNameEn ~ ' ' ~ student.lastNameEn }}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    {% if app.session.get('user_type') == 'admin' %}
      <a href="{{ path('section_publish_gpas', {'section_id': section.id}) }}"
        onclick="return confirm('Are You Sure?')" class="fright" id="editBtn">Publish GPAs</a>
    {% endif %}
  </div>
{% endblock %}
