{% extends 'base.html.twig' %}
{% block title %}
  GPA View
{% endblock %}

{% block stylesheet %}
<style>

</style>
{% endblock %}

{% block body %}
  <div class="container" id="view_container">
    <a href="{{ path('gpa_system_view') }}"> << GPA System View </a>
    {% if ((app.session.get('user_type') == 'admin') ? (app.session.get('admin_class') == 'registrar head' or app.session.get('admin_class') == 'registrar officer') : false ) %}
      <a href="{{ path('gpa_create', {'gpa_system_id': gpa_system.id }) }}">New GPA</a>
    {% endif %}

    <h1>{{ gpa_system.gpaSystemCode | upper ~ ' (' ~ gpa_system.gpaSystemName ~ ')' }}</h1>

    <table>
      <thead>
        <tr>
          <th>Range</th>
          <th>Remark</th>
          <th>Pass/Fail</th>
          {% if ((app.session.get('user_type') == 'admin') ? (app.session.get('admin_class') == 'registrar head' or app.session.get('admin_class') == 'registrar officer') : false ) %}
            <th colspan="3">Actions</th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% for gpa in gpas %}
          <tr>
            <td id="total_row">{{ gpa.startGpa ~ ' - ' ~ gpa.endGpa }}</td>
            <td>{{ gpa.gpaRemark | title }}</td>
            <td><font color="{{ ( gpa.gpaPF == 'pass' ) ? '#006600' : '#FF0000' }}">
              {{ gpa.gpaPF | title }}
            </font></td>

            {% if ((app.session.get('user_type') == 'admin') ? (app.session.get('admin_class') == 'registrar head' or app.session.get('admin_class') == 'registrar officer') : false ) %}
              <td id="actions"><a href="{{ path('gpa_edit', {'gpa_id': gpa.id}) }}" id="editBtn">edit</button></td>
              <td id="actions"><a href="{{ path('gpa_delete', {'gpa_id': gpa.id}) }}" id="deleteBtn"
                onclick="return confirm('Are You Sure You Want To Delete GPA {{ gpa.startGpa ~ ' - ' ~ gpa.endGpa ~ ' (' ~ gpa.gpaRemark ~ ')' }}?') ">delete</button></td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
