{% extends 'base.html.twig' %}
{% block title %}
  Results View
{% endblock %}

{% block stylesheet %}
<style>

</style>
{% endblock %}

{% block body %}
  <div class="container" id="view_container">
    <table border="0">
      <thead>
        <tr>
          <th>Session Code</th>
          <th>Student</th>
          <th>Result</th>
          <th>Grade</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for result in results %}
          <tr>
            <td>
              {% for school_session in school_sessions %}
                {% if(result.sessionId == school_session.id) %}
                  {{ school_session.sessionCode | upper }}
                {% endif %}
              {% endfor %}
            </td>

            <td>
              {% for student in students %}
                {% if(result.studentId == student.id) %}
                  {{ student.firstNameEn ~ ' ' ~ student.middleNameEn ~ ' ' ~ student.lastNameEn }}
                {% endif %}
              {% endfor %}
            </td>

            <td>{{ result.resultInNumber }}</td>
            <td>{{ result.resultInAlphabet }}</td>
            <td><a href="{{ path('session_view', {'result_id': result.id}) }}" id="editBtn">assessement</button></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
