{% extends 'base.html.twig' %}
{% block title %}
  School Assessments View
{% endblock %}

{% block stylesheet %}
<style>

</style>
{% endblock %}

{% block body %}
  <div class="wide_container" id="view_container">
    <h1>{{ school_session.sessionName ~ ' - ' ~ school_session.courseId.courseName ~ ' (' ~ school_session.courseId.courseCode | upper ~ ')' }}</h1>

    <h1>Prerequisites:</h1>
    <h2 style="margin-left: 25px;">
      {% if prerequisites is empty %}
        None.
      {% endif %}

      {% for prerequisite in prerequisites %}
        {% if prerequisite.prerequisiteType == 'course' %}
          <a href="{{ path('course_view', {'course_id': prerequisite.prerequisiteCourseId.id}) }}" id="moreDetBtn">
            {{ prerequisite.prerequisiteCourseId.courseName }}
          </a>
        {% elseif prerequisite.prerequisiteType == 'module' %}
          <a href="{{ path('module_view', {'module_id': prerequisite.prerequisiteModuleId.id}) }}" id="moreDetBtn">
            {{ prerequisite.prerequisiteModuleId.moduleName }}
          </a>
        {% endif %}
        {{ '(' ~ prerequisite.prerequisiteType | capitalize ~ ')' }}.
      {% endfor %}
    </h2>

    <table border="0" id="wide_table">
      <thead>
        <tr>
          <th>Addmission Number</th>
          <th>Assessment Result Student</th>

          <th>
            {% set assessmentWorthTotal = 0 %}
            {% for assessment_type in assessment_types %}
                {% set assessmentWorthTotal = assessmentWorthTotal + assessment_type.assessmentWorth %}
            {% endfor %}

            Total ({{ assessmentWorthTotal }}%)
          </th>

          <th>Grade</th>
          <th>Remark</th>
        </tr>
      </thead>

      <tbody>
        {% for session_result in session_results %}
          <tr>
            <td id="total_row">
              {{  session_result.studentId.admissionNumber }}
            </td>

            <td>
              {{ session_result.studentId.firstNameEn ~ ' ' ~ session_result.studentId.middleNameEn ~ ' ' ~ session_result.studentId.lastNameEn }}
            </td>

            <td>
              {{ session_result.resultInNumber }}
            </td>

            <td>
              {{ session_result.resultInAlphabet }}
            </td>

            <td>
              {{  session_result.sessionResultRemark | capitalize }}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
