{% extends 'base.html.twig' %}
{% block title %}
  Sessions View
{% endblock %}

{% block stylesheet %}
<style>

</style>
{% endblock %}

{% block body %}
  <div class="container" id="view_container">
    <h1><big>
      {{ school_sessions[0].teacherId.firstName ~ ' ' ~ school_sessions[0].teacherId.middleName ~ ' ' ~ school_sessions[0].teacherId.lastName }}
    </big></h1>

    <table>
      <thead>
        <tr>
          <th>Session Code</th>
          <th>Session Name</th>
          <th>Session Section</th>
          <th>Session Teacher</th>
          <th>Session Course/Module</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        {% for school_session in school_sessions %}
          <tr>
            <td>{{ school_session.sessionCode }}</td>
            <td>{{ school_session.sessionName }}</td>
            <td>{{ school_session.sectionId.sectionName }}</td>
            <td>{{ school_session.teacherId.firstName ~ ' ' ~ school_session.teacherId.middleName ~ ' ' ~ school_session.teacherId.lastName }}</td>
            <td>
              {% if (school_session.courseModuleType == 'module' and school_session.moduleId is not null) %}
                (Module) - {{ school_session.moduleId.moduleName }}
              {% elseif (school_session.courseModuleType == 'course' and school_session.courseId is not null) %}
                (Course) - {{ school_session.courseId.courseName }}
              {% endif %}
            </td>

            <td>
              {% if(school_session.sessionEndDate < today) %}
                Finished Session
              {% else %}
                <font color="#009900">Ongoing Session</font>
              {% endif %}
            </td>

            <td id="actions"><a href="{{ path('session_view_one', {'session_id': school_session.id}) }}">view</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
