{% extends 'base.html.twig' %}
{% block title %}
  Sessions View
{% endblock %}

{% block stylesheet %}
<style>

</style>
{% endblock %}

{% block body %}
  <div class="container" id="view_container">
    <h1><big>
      {% if school_sessions is not empty %}
        {{ school_sessions[0].teacherId.firstName ~ ' ' ~ school_sessions[0].teacherId.middleName ~ ' ' ~ school_sessions[0].teacherId.lastName }}
      {% endif %}
    </big></h1>

    <table>
      <thead>
        <tr>
          <th>Session Code</th>
          <th>Session Name</th>
          <th>Session Section</th>
          <th>Session Course/Module</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        {% for school_session in school_sessions %}
          <tr>
            <td>{{ school_session.sessionCode }}</td>
            <td>{{ school_session.sessionName }}</td>
            <td><a href="{{ path('section_view_one', {'section_id': school_session.sectionId.id}) }}" id="moreDetBtn">
              {{ school_session.sectionId.sectionName }}
            </a></td>

            <td>
              <a id="moreDetBtn" href="
                {% if (school_session.courseModuleType == 'module' and school_session.moduleId is not null) %}
                  {{ path('module_view_one', {'module_id': school_session.moduleId.id}) }}">
                    (Module) - {{ school_session.moduleId.moduleName }}
                  </a>
                {% elseif (school_session.courseModuleType == 'course' and school_session.courseId is not null) %}
                  {{ path('course_view_one', {'course_id': school_session.courseId.id}) }}">
                    (Course) - {{ school_session.courseId.courseName }}
                {% endif %}
              </a>
            </td>

            <td>
              {% if(school_session.sessionEndDate < today) %}
                Finished Session
              {% else %}
                <font color="#009900">Ongoing Session</font>
              {% endif %}
            </td>

            <td id="actions"><a href="{{ path('session_view_one', {'session_id': school_session.id}) }}">view</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
