{% extends 'base.html.twig' %}
{% block title %}
  {{ session.sessionCode | upper }}
{% endblock %}

{% block stylesheet %}
<style>
</style>
{% endblock %}

{% block body %}
  <article class="container taleft">
    <div class="form fright">

      <h1 class="welcomeText tacenter">{{ session.sessionName }} ({{ session.sessionCode }})</h1>

      <table>
        <tr>
          <td>Session Code:</td>
          <td>{{ session.sessionCode }}</td>
        </tr>

        <tr>
          <td>Session Name:</td>
          <td>{{ session.sessionName }}</td>
        </tr>

        <tr>
          <td>Session Section:</td>
          <td>
            {{ section.sectionName }}
          </td>
        </tr>

        <tr>
          <td>Session Teacher:</td>
          <td>
            {% for teacher in teachers %}
              {% if(session.teacherId == teacher) %}
                {{ teacher.firstName }} {{ teacher.middleName }} {{ teacher.lastName }}
              {% endif %}
            {% endfor %}
          </td>
        </tr>

        <tr>
          <td>Session Grade System:</td>
          <td>
              {{ grade_system.gradeSystemCode ~ ' (' ~ grade_system.gradeSystemName ~ ')' }}
          </td>
        </tr>

        <tr>
          <td>Session Course/Module:</td>
          <td>
            ({{ session.courseModuleType | capitalize }}) -
            {% if (session.courseModuleType == 'course') %}
              {% for course in courses %}
                {% if ( session.courseId == course ) %}
                  {{ course.courseName }}

                {% endif %}
              {% endfor %}

            {% elseif (session.courseModuleType == 'module') %}
              {% for module in modules %}
                {% if ( session.moduleId == module ) %}
                  {{ module.moduleName }}
                {% endif %}
              {% endfor %}
            {% endif %}
          </td>
        </tr>

        <tr>
          <td>Session Assessment System:</td>
          <td>
              {{ assessment_type_system.assessmentTypeSystemCode | upper }} <br />
              {{ '(' ~ assessment_type_system.assessmentTypeSystemName ~ ')' }}
          </td>
        </tr>

        <tr>
          <td>Session Schedule: </td>
          <td>
            {{ session.sessionStartDate }} - {{ session.sessionEndDate }}
          </td>
        </tr>

        <tr>
          <td>Session Status:</td>
          <td>
            {% if(session.sessionEndDate < today) %}
              <font color="#FF0000">Finished Session</font>
            {% else %}
              <font color="#009900">Ongoing Session</font>
            {% endif %}
          </td>
        </tr>

        <tr>
          <td>Session Assessments:</td>
          <td>
            {% set assessmentWorthTotal = 0 %}
            {% for assessment_type in assessment_types %}
              {% set assessmentWorthTotal = assessmentWorthTotal + assessment_type.assessmentWorth %}
              <p>
                {{ assessment_type.assessmentName ~ ' (' ~ assessment_type.assessmentWorth ~ '%)' }}
              </p>
            {% endfor %}
          </td>
        </tr>

        <tr>
          <td>Session Assessment Total:</td>
          <td>
            {{ assessmentWorthTotal ~ '%' }}
          </td>
        </tr>

        {% if (app.session.get('user_type') == 'admin') or (app.session.get('user_type') == 'teacher') %}
          <tr>
            <td colspan="2">
              <p class="clear fright"><a href="{{ path('assessment_result_view', {'school_session_id': session.id}) }}" id="editBtn">assessment results</a></p>
              <p class="clear fright"><a href="{{ path('session_result_view', {'school_session_id': session.id}) }}" id="editBtn">session results</a></p>
            </td>
          </tr>
        {% else %}
        <tr>
          <td colspan="2">
            <p class="clear fright"><a href="{{ path('student_assessment_results', {'session_id': session.id}) }}" id="editBtn">
              view results
            </a></p>
          </td>
        </tr>
        {% endif %}
      </table>
    </div>

    <hr class="clear" width="0" />
  </article>
{% endblock %}
