{% extends 'base.html.twig' %}
{% block title %}
  {{ (mode == 'new') ? 'New Curriculum' : 'Edit Curriculum' }}
{% endblock %}

{% block stylesheet %}
<style>

</style>
{% endblock %}

{% block body %}
  <div class="container taright">
    <form class="form fright" method="post">
      <h1 class="welcomeText tacenter">{{ (mode == 'new') ? 'New Curriculum' : 'Edit Curriculum' }}</h1>
      <h2>{{ result_message is defined ? result_message : '' }}</h2>

      <label for="form[curriculum_code]">Curriculum Code</label>
      <input type="text" name="form[curriculum_code]" placeholder="IM101" value="{{ form.curriculum_code is defined ? form.curriculum_code : '' }}" required />

      <label for="form[curriculum_name]">Curriculum Name</label>
      <input type="text" name="form[curriculum_name]" placeholder="Introduction to Internal Medicine" value="{{ form.curriculum_name is defined ? form.curriculum_name : '' }}" required />

      <label for="form[curriculum_type]">Curriculum Type</label>
      <select name="form[curriculum_type]">
        <option value="modularized" {{ (form.curriculumType is defined and form.curriculumType == 'modularized') ? 'selected' : '' }} >Modularized</option>
        <option value="semester" {{ (form.curriculumType is defined and form.curriculumType == 'semester') ? 'selected' : '' }} >Semester</option>
      </select>

      <label for="form[curriculum_school]">Curriculum School</label>
      <select name="form[curriculum_school]">
        {% for school in schools %}
          <option value="{{ school.id }}" {{ (school== (form.curriculum_school is defined ? form.curriculum_school : '')) ? 'selected' : '' }} >{{ school.schoolName }}</option>
        {% endfor %}
      </select>

      <label for="form[curriculum_grade_system]">Curriculum Grade System</label>
      <select name="form[curriculum_grade_system]">
        {% for grade_system in grade_systems %}
          <option value="{{ grade_system.id}}" {{ (grade_system == (form.curriculum_grade_system is defined ? form.curriculum_grade_system : '')) ? 'selected' : '' }} >{{ grade_system.gradeSystemName }}</option>
        {% endfor %}
      </select>

      <button>{{ (mode == 'new') ? 'Create Curriculum' : 'Save Changes' }}</button>
    </form>

    <hr class="clear" width="0" />
  </div>
{% endblock %}
