{% extends 'base.html.twig' %}
{% block title %}
  {{ curriculum.curriculumCode }}
{% endblock %}

{% block stylesheet %}
<style>
</style>
{% endblock %}

{% block body %}
  <article class="container taleft">
    <div class="form fright">

      <h1 class="welcomeText tacenter">{{ curriculum.curriculumName }} ({{ curriculum.curriculumCode }})</h1>

      <table>
        <tr>
          <td>Curriculum Code:</td>
          <td>{{ curriculum.curriculumCode }}</td>
        </tr>

        <tr>
          <td>Curriculum Name:</td>
          <td>{{ curriculum.curriculumName }}</td>
        </tr>

        <tr>
          <td>Curriculum Type:</td>
          <td>{{ curriculum.curriculumType | capitalize }}</td>
        </tr>

        <tr>
          <td>Curriculum School:</td>
          <td><a href="{{ path('school_view_one', {'school_id': school.id}) }}">
            {{ school.schoolName }}
          </a></td>
        </tr>

        <tr>
          <td>Curriculum Grade System:</td>
          <td>
            <p><a href="{{ path('grade_view', {'grade_system_id': grade_system.id}) }}">
              {{ grade_system.gradeSystemName }}
            </a></p>
          </td>
        </tr>

        <tr>
          <td>Curriculum Semesters:</td>
          <td>
            <p>
              {% for semester in semesters %}
                {{ semester.semester ~ ' / ' ~ semester.year }}
              {% endfor %}
            </p>
        </tr>

        <tr>
          <td>Curriculum Module:</td>
          <td>
            <p>
              {% for module in modules %}
                {{ '(' ~ module.moduleCode | upper ~ ') ' ~ module.moduleName }}
              {% endfor %}
            </p>
        </tr>

        <tr>
          <td>Curriculum Courses:</td>
          <td>
            <p>
              {% for course in courses %}
                {{ '(' ~ course.courseCode | upper ~ ') ' ~ course.courseName }}
              {% endfor %}
            </p>
        </tr>
      </table>
    </div>

    <hr class="clear" width="0" />
  </article>
{% endblock %}
