{% extends 'base.html.twig' %}
{% block title %}
  Curriculum View
{% endblock %}

{% block stylesheet %}
<style>

</style>
{% endblock %}

{% block body %}
  <div class="container" id="view_container">
    <a href="{{ path('curriculum_create') }}">New Curriculum</a>

    <table border="0">
      <thead>
        <tr>
          <th>Curriculum Code</th>
          <th>Curriculum Name</th>
          <th>Curriculum Type</th>
          <th>Curriculum School</th>
          <th>Curriculum Grade System</th>
          <th colspan="4">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for curriculum in curriculums %}
          <tr>
            <td>{{ curriculum.curriculumCode }}</td>
            <td>{{ curriculum.curriculumName }}</td>
            <td>{{ curriculum.curriculumType | capitalize }}</td>
            <td>
              {% for school in schools %}
                {% if(curriculum.schoolId == school) %}
                  {{ school.schoolName }}
                {% endif %}
              {% endfor %}
            </td>
            <td>
              {% for grade_system in grade_systems %}
                {% if(curriculum.gradeSystemId == grade_system) %}
                  {{ grade_system.gradeSystemName }}
                {% endif %}
              {% endfor %}
            </td>

            <td><a href="{{ path('curriculum_view_one', {'curriculum_id': curriculum.id}) }}">view</a></td>
            <td><a href="{{ path('curriculum_edit', {'curriculum_id': curriculum.id}) }}" id="editBtn">edit</button></td>
            <td><a href="{{ path('curriculum_delete', {'curriculum_id': curriculum.id}) }}" id="deleteBtn"
                  onclick="return confirm('Are You Sure You Want To Delete {{ curriculum.curriculumName }} ({{ curriculum.curriculumCode }})?') ">delete</button></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
